body, html {
  margin: 0;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
}
.top-bar {
  background-color: whitesmoke;
  height: 25px;
  display: flex;
  justify-content: left;
  float: left;
  color: rgb(5, 5, 5);
  padding: 10px 20px;
  text-align: center;
  font-size: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.phone-icon {
  display: flex;
  justify-content: left;
  float: left;
}

.container {
  min-height: 100vh;
  background: linear-gradient(to right, #30638E, #003D5B);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.header {
  height: 60px;
  width: 100%;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  padding-left: 20px;
}

.nav-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  padding-right: 20px;
  font-family: Montserrat;
}

.nav-link {
  text-decoration: none;
  color: whitesmoke;
}

.nav-link:hover {
  text-decoration: underline;
}

.main {
  text-align: center;
  padding: 2.5rem;
  color: #EDAE49;
}

.headline {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  font-family: Montserrat;
}

.description {
  font-size: 1.225rem;
  margin-bottom: 1.5rem;
  /*max-width: 40rem;*/
  font-family: Montserrat;
  text-align: center;
}

.cta-button {
  background: white;
  color: #00798C;
  font-weight: bold;
  font-family: Montserrat;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.cta-button:hover {
  background: #173d6d;
}

.carousel {
  display: flex;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
  padding: 2rem 0;
}

.carousel img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.carousel img:hover {
  transform: scale(1.1);
}

.footer {
  width: 100%;
  padding: 1.25rem;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icon {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-icon:hover {
  color: #dbeafe;
}

